@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 767pxpx;
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: Rubik;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.4;
}

.logo-image {
  color: #fff;
}

.header {
  background-color: #0D1330;
  padding-top: 29px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.menu__link {
  font-family: "Poppins";
  font-size: 15px;
  line-height: 1.53;
  color: rgba(255, 255, 255, 0.65);
}
.menu__purchase-btn {
  background: #FE5933;
  border-radius: 9px;
  padding: 15px 35px 17px;
}
.menu__purchase-btn span {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 1.38;
  color: #FFFFFF;
}

.first-title {
  font-family: "Rubik";
  font-size: 60px;
  line-height: 1.25;
  text-align: center;
  color: #FFFFFF;
}